
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    pointer-events: auto;
}

/*---------------------------------------------------------------------------TAGS---------------------------------------------------------------------------*/

p {
    font-weight: 200;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

li:hover {
    cursor: pointer;
}

h1 {
    font-weight: 500;
    font-weight: bold;
    font-size: 7rem;
    background: linear-gradient(rgb(17, 17, 17), black); 
    text-align: center;
    margin: 10vh 0px;
    margin-top: 0;
    padding-right: 1.1vw;
    position: relative;
    z-index: 99;
}

h2,h3,h4,h5,a {
    font-weight: 400;
}

/*---------------------------------------------------------------------------HEADER Y NAV---------------------------------------------------------------------------*/

header {
    background-image: url(../Imagenes/Fondo-Juani-less.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    width: 100vw;
    height: 70vh;
    margin-top: 0;
}

.headerTop {
    background-image: url(../Imagenes/Fondo\ Juani.png);
    margin-top:0;
}

/*logo chiro grande*/

.logoBig {
    margin: 0 auto;
    display: block;
    transform: scale(0.7);
    position:relative;
    bottom: 5vh;
    animation-name: animLogobig;
    animation-duration: 2s;
    animation-fill-mode: ease-out;
}

@keyframes animLogobig {
    0% {
        top: 20vh;
        opacity: 0;
    }
    50%{
        top: 10vh;
    }
    100% {
        top: -5vh;
        opacity: 1;
    }
}

.wrapper {
    width:100vw;
    height:5vh;
}

/*NAVBAR*/

nav {
    background-color: black;
    display:flex;
    width:100vw;
    height: 4rem;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    margin-top:-3rem;
}

/*logo de la nav*/

.navLogo {
    align-self: center;
    position: relative;
    top: 0.2rem;
}

.navLogo:hover {
    animation-name: animLogonav;
    animation-duration:2s;
}

@keyframes animLogonav {
    0%{
        transform:scale(1);
    }
    25%{
        transform:scale(0.8);
    }
    50% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
}

.navLogo img{
    transform: scale(0.7);
}

/*navbar*/

.navbar {
    align-self: center;
}

.navbar li {
    display: inline-block;
    list-style-type: none;
    margin: 0rem 1rem;
    position: relative;
}

.navbar li a {
    padding: 1rem;
}

.navbar li a:hover {
    border: 0.1rem solid white;
    border-radius: 1rem;
    font-size: 1.1rem;
}

.navbar ul {
    position:absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    border-radius: 1rem;
}

.navbar ul li {
    display:block;
    margin:1.5rem 0rem;
}

.navbar li:hover ul {
    display: block;
    margin-top: 0.8rem;
}


/*---------------------------------------------------------------------------MAIN Y BODY---------------------------------------------------------------------------*/

main {
    background-image: url(../Imagenes/Fondo\ graffitis.jpg);
    width:100vw;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    
}

/*WHATSAPP LOGO FIXED*/

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }

  .whatsapp img {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

/*BANDA VIOLETA/PURPURA (BACKGROUND)*/

.bandaPurple {
    position:absolute;
    z-index: 0;
    transform: scale(0.8);
}

.bandaPurple img {
    height: 250vh;
    width: 100vw;
}

@media only screen and (max-width:768px){
    .bandaPurple img {
        height: 125vh;
        width: 100vw;
    }
}

/*---------------------------------------------------------------------------BODY---------------------------------------------------------------------------*/

body {
    background-color: rgb(66, 66, 66);
    background-image: url(../Imagenes/Fondo\ graffitis.jpg);
    background-repeat: no-repeat;
    position: absolute;
    width:100vw;
    margin-left: 0;
    margin-right: 0;
    overflow-x:hidden;
    overflow-y: auto;
}

/*BARRA DE LINKS MUSICA*/

.logosLinks {
    background: linear-gradient(black, rgb(54, 54, 54), black);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height:20vh;
    width: 100vw;
    margin-bottom: 20vh;
    position:relative;
    z-index: 2;

}

.logosLinks li{
    list-style-type: none;
    width: 30vw;
    text-align: center;
    animation-name:animLogoslinks;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: linear;
}

@keyframes animLogoslinks {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(0.9);
    }
    100% {
        transform:scale(1);
    }
}

.logosLinks li a img {
    width: 70%;
}

/*IFRAMES YOUTUBE Y SPOTIFY*/

iframe {
    display: block;
    margin: 10vh auto;
    margin-top: 0px;
}

.iframeSpotify {
height: 60vh;
}

.spotiList {
    height: 60vh;
}



/*---------------------------------------------------------------------------FOOTER---------------------------------------------------------------------------*/

footer {
    display: flex;
    width:100vw;
    height: 40vh;
    background: rgb(85,25,153);
    background: linear-gradient(0deg, rgba(85,25,153,1) 0%, rgba(0,0,0,1) 58%);
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    position:relative;
    z-index: 2;
}

.logoFooter {
    align-self: center;
    position: relative;
    left: 0.5vw;
    animation-name: logoFooter;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes logoFooter {
        0% {
            transform:scale(1);
        }
        50%{
            transform:scale(1.1);
        }
        100%{
            transform:scale(1);
        }
}

footer ul {
    align-self: center;
    height: 10vh;
    width: 100vw;
    text-align: center;
}

footer ul li {
    display: inline;
    position: relative;
    width:50px;
    height:50px;
    margin: 0;
    padding:0;
    right: 6%vw;
    
}

footer p {
    text-align: center;
}

/*FOOTER LOGOS*/

.footerYoutube, .footerInstagram {
    width: 3%;
}

.footerWhatsapp {
    width: 4%;
    position:relative;
    top: 0.7vh;
    left: 0.5vw;
}

.footerSpotify {
    width: 2.6%;
}

.footerFacebook {
    width: 3%;
    position: relative;
    top: 0.1rem;
}

/*ESPECIFICOS POR PAGINA:*/

/*---------------------------------------------------------------------------PAGINA 1-HOME---------------------------------------------------------------------------*/

/*SECCION 1, TITULO*/

.homeSec1 {
    background-image: url(../Imagenes/Fondo\ titulo.png);
    background-repeat: no-repeat;
    background-position: bottom  center;
    height: 50vh;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    position:relative;
    z-index: 2;
}

.homeSec1 h1 {
    position: relative;
    top: 13vh;
    width:100vw;
    background: rgba(255,255,255,0);
    animation-name: tituloHome;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0, 3, 1, 1);
    animation-iteration-count: infinite;
    margin-left: 0;
    margin-right: 0;

}

@keyframes tituloHome {
    0% {
        right: 20rem;
        opacity: 0;
    }

    50% {
        right: 0rem;
        opacity: 1;
        animation-delay: 6s;
        
    }

    75% {
        right: -10rem;
        opacity: 1;
    }

    100% {
        right: -20rem;
        opacity: 0;
    }
    
}

/*---------------------------------------------------------------------------SECCION 2, LINKS---------------------------------------------------------------------------*/

.homeSec2 {
    display:flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: space-evenly;
    margin: 0 2vw;
    margin-bottom: 14vh;
}

.homeSec2 a {
    font-size: 7rem;
}

/*LINKS PRODUCCION, BEATS, COMPOSICION*/

.link1 {
    align-self: flex-start;
    animation-name: animlink1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: ease-in;
}

@keyframes animlink1 {
    0% {
        opacity: 0;
    }
    20% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

.link2 {
    align-self: center;
    padding-right: 5vw;
    animation-name: animlink2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes animlink2 {
    0% {
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.link3 {
    align-self: flex-end;
    animation-name: animlink3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: ease-out;
}

@keyframes animlink3 {
    0% {
        opacity: 0;
    }
    90% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

/*---------------------------------------------------------------------------PAGINA 2-BEATS---------------------------------------------------------------------------*/

/*LINKS PLAYLIST BEATS*/

.links h3{
    text-align: center;
    background-color: black;
    padding-top: 3vh;
    padding-bottom: 5vh;
    font-size: 2.5rem;
    text-decoration: underline;
}

/*DESCRIPCION*/

.nombre p {
    background:linear-gradient(rgb(54, 54, 54),black);
    text-align: center;
    font-size: 1.5rem;
    margin: 30vh 0;
    margin-bottom: 40vh;
    height: 15vh;
    padding-bottom: 0;
    padding-top: 7vh;
}

/*TABLA PRECIOS*/

.ejercicioTablas {
    margin: 0 auto;
    width: 90vw;
    text-align: center;
    margin-top: 10vh;
}

.ejercicioTablas h2 {
    margin: 0 auto;
    margin-bottom: 8vh;
    background-color: black;
    border-radius: 25px;
    width: 12vw;
    padding: 1rem;
    border: solid 0.1rem white;
}

.ejercicioTablas table {
    margin: 0 auto;
    width: 40vw;
    height: 40vh;
    border: white double 0.5rem;
    background: rgba(1,1,1,0.4);
}

.ejercicioTablas table thead {
    background-color: rgba(255,255,255,0.5);
}

.ejercicioTablas table thead th {
    padding: 1rem;
}

/*DEMOS*/

.demosBeats h2 {
    width: 8vw;
    text-align: center;
    margin: 10vh auto;
    font-size: 2rem;
    background-color: black;
    border-radius: 25px;
    padding: 1rem;
    border: solid white 0.1rem;
    
}

.demosBeats {
    margin-bottom: 20vh;
}

.demosListas{
    display:grid;
    grid-template-columns: 50% 50%;
}

.demosBeats ul li {
    justify-self: center;
    text-align: center;
    margin: 2rem;
}

.demosLista1, .demosLista2 {
    background: linear-gradient(black, rgb(71, 6, 80), black);
    width: 30vw;
    justify-self: center;
    list-style-type: none;
    border-radius: 50px;
    border:solid white 1px;
}


/*---------------------------------------------------------------------------PAGINA 3-PRODUCCION---------------------------------------------------------------------------*/

/*INTRODUCCION*/

.introtext {
    background: linear-gradient(black,rgb(54, 54, 54));
    height: 50vh;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30vh 0;
}

.introtext p {
    font-size: 2rem;
    margin-left: 3%;
}

@media only screen and (max-width: 768px), (max-height: 768px)  {
    .introtext p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 456px), (max-height: 456px)  {
    .introtext p {
        font-size: 0.7rem;
    }
}

.introtext img {
    transform:scale(0.8);
    width: 50%;
    height: auto;
}

/*VIDEOS*/

#videosProduccion {
    height: 10vh;
}

#tituloVideos {
    background-color: black;
    border: white solid 0.1rem;
    width: 6vw;
    padding: 1rem;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
}

.iframeSec {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.iframeYoutube {
    margin-bottom: 30vh;
    width: 50vw;
    height: 60vh;
    order: 2;
    margin-top: 0;
}

.iframeYoutube2 {
    order: 1;
    transform: scale(0.7);
    opacity: 0.5;
}

.iframeYoutube3 {
    order: 3;
    transform: scale(0.7);
    opacity: 0.5;
}

/*IMAGEN*/

.imgProduccion img {
    transform: scale(1.33);
    position:relative;
    left: 10vw;
}

/*---------------------------------------------------------------------------PAGINA 4-CONTACTO---------------------------------------------------------------------------*/

/*LISTA REDES SOCIALES*/

.redesTitulo h2{
    background-color: black;
    font-size: 2rem;
    text-align: center;
    width: 30vh;
    padding: 2vh 0.1vw;
    margin: 0 auto;
    margin-top: 30vh;
    margin-bottom: 20vh;
    border-radius: 25px;
    border: solid white 0.1rem;
}

.redesLista {
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-around;
 background: linear-gradient(black, rgb(43, 43, 43));
 margin: 10vh auto;
 margin-bottom: 30vh;
 height: 30vh;
 align-items: center;
 list-style-type: none;
}

.redesLista li a img{
    width:20vw;
}

.redesLista li a{
    position: relative;
    bottom: 1vh;
}

/*FORMULARIO DE CONSULTA*/

.formulario {
    height: 70vh;
    margin: 30vh 0;
}

.formulario h2{
    background: black;
    padding: 3vh;
    text-align: center;
    font-size: 2.5rem;
    width: 100vw;
}
.formulario form {
    background: linear-gradient(black, rgb(125, 32, 143), rgb(47, 0, 75));
    width: 100vw;
    height: 70vh;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.6fr 0.6fr 0.6fr 2.6fr 0.6fr; 
    gap: 60px 0px; 
    padding: 1.2em;
    padding-top: 5rem;
    margin: 0;
    margin-bottom: 20vh;
    font-size: 1.5rem;
}

.name {
    grid-area: 1/1/2/2;
    justify-self: center;
}

.formNombre {
    grid-area: 1/2/2/4;
}

.email {
    grid-area: 2/1/3/2;
    justify-self: center;
}

.formCorreo {
    grid-area: 2/2/3/4;
}

.formCorreo input[type="email"], textarea{
    width: 39rem;
}

.asunto {
    grid-area: 3/1/6/2;
    justify-self: center;
}

.formAsunto input[type="text"], textarea{
    width: 39rem;
}

.mensaje {
    grid-area: 4/1/5/2;
    justify-self: center;
    align-self: center;
}

.formMensaje {
    grid-area: 4/2/5/3;
}

.formMensaje input[type="text"], textarea {
    height: 20rem;
    width: 39rem;
    border-bottom-left-radius: 15px;
}

.enviar {
    grid-area: 5/1/6/3;
    justify-self: center;
    width: 20rem;
    height: 2rem;
    border-radius: 25px;
    background: linear-gradient(black, rgb(108, 0, 170));
}

.enviar:hover {
    cursor: pointer;
    background: linear-gradient( rgb(204, 33, 33), black);
    transition: all 3s;
}



.formulario form input[type="text"] {
    color: black;
}

input[type="text"], input[type="email"], textarea {
background-color : #d1d1d1; 
font-size: 1.5rem;
text-align: center;
}


/*---------------------------------------------------------------------------PAGINA 5-ACERCA DE MI---------------------------------------------------------------------------*/



.bandaGreen {
    position:absolute;
    z-index: 0;
    transform: scale(0.8);
    top: 40vh;
}

.bandaGreen img {
    height: 350vh;
    width: 100vw;
}

@media only screen and (max-width:768px){
    .bandaGreen img {
        height: 125vh;
        width: 100vw;
    }
}

.mainText {
    background: linear-gradient(black, rgb(61, 61, 61), black);
    z-index: 2;
    position: relative;
    height: 90vh;
    font-size: 1.5rem;
    margin-bottom: 20vh;
    padding: 8vh 0;
    padding-bottom: 12vh;
}

@media only screen and (max-width: 1000px) {
    .mainText {
        font-size: 0.7rem;
    }
}

.mainText .textoUno {
    margin-bottom: 10vh;
}

.mainText .textoDos {
    margin: 6vh;
}


.bigImage img{
   width: 100%;
   position: relative;
   z-index: 99;
   border: none;
}

.tituloDos h3{
    background-color: black;
    text-align:center;
    position: relative;
    z-index: 3;
    margin: 20vh 0;
    font-size: 3rem;
    padding: 1rem;
}

.imgUno {
    float: left;
    position: relative;
    width: 50vh;
    margin: -2rem;
}

.imgDos {
    float:right;
    position: relative;
    width: 50vh;
    bottom: 5vh;
}
