
// MAIN

main {
    grid-area: main;
    display: grid;
    background-image: url(../Imagenes/Fondo_graffitis.jpg);
    background-size: cover;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 10% 10% 45% 30%;
    grid-template-areas: 
    "intro intro intro"
    "spotify spotify spotify"
    "cards cards cards"
    "audioList audioList audioList";
    grid-gap: 0px 0px;
    overflow-x: hidden;
}

// SECTION 1 - INTRO

.intro {
    grid-area: intro;
    // background-image: url(../Imagenes/pexels-blaz-erzetic-2426085.jpg);
    // background-size: cover;
    // background-position: top center;
    .intro__title {
        background: $title;
        .intro__h1 {
            font-weight :$f-w5;
            font-weight: bold;
            font-size: 3rem;
            text-align: center;
            padding: 4%;
            position: relative;
            animation-name: tituloHome;
            animation-duration: 6s;
            animation-timing-function: cubic-bezier(0, 3, 1, 1);
            animation-iteration-count: infinite;
            margin:0;
         }
    }
    
    .intro__p {
        background: $title;
        font-size: 0.8rem;
        font-weight:$f-w2;
        margin-top: 10%;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
}

// SECTION 2 - SPOTIFY

.spotify {
    grid-area: spotify;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
        .spotify__iframe {
            display: block;
            margin: 0 auto;
            height: 80%;
            width: 90%;
        }
}

// SECTION 3 - CARDS

.cards {
    grid-area: cards;
        .cards__h3 {
            text-align: center;
            margin: $center;
            margin-bottom: 5%;
        }
        .cards__maincontainer {
            height: 70%;
            .cards__container {
                background-color: rgba(1, 1, 1, 0.0);
                border: solid white 1px;
                border-radius: 20px;
                    &:hover {
                    cursor: pointer;
                    border: solid white 3px;
                    transform: scale(1.05);
                        .cards__img {
                            opacity: 1;
                        }
                        .cards__h5 {
                            font-size: $f-s4;
                        }
                    }
                    .cards__img {
                        opacity: 0.5;
                        border-radius: 20px 20px 0px 0px;
                    }
                    .cards__body {
                        background: rgba(0, 0, 0, 0.8);
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                            .cards__h5 {
                                font-size: 1.5rem;
                            }
                    }
            }
        }
        
}

// SECTION 4 - AUDIOS

.audioLists {
    grid-area: audioList;
    max-height: 100vh;
        .audioLists__h3 {
            font-size: $f-s3;
        }
        .audioLists__ul {
                .audioLists__li {
                    background: rgba(0, 0, 0, 0.8);
                    border-radius: 20px;
                    padding: 1rem;
                        .audioLists__head {
                            .audioLists__img {
                                width: 10vh;
                                height: 10vh;
                                border-radius: 50%;
                                border: solid white 1px;
                                // transform:scale(0.5);
                            }
                        }
                        .audioLists__body {
                            .audioLists__audio {
                                // margin: $center;
                                transform: scale(0.7);
                            }
                            .audioLists__p {
                                font-size: 0.7rem;
                            }
                        }   
                }
        }
}