// Media Medium

@media only screen and (min-width: 480px) and (max-width: 767px) {

// BODY

body {
    height: 550vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1% 8% 87% 4%;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
    grid-gap: 0px 0px;
}

 // HEADER

.header {
    .header__img {
        margin-top: 15%;
        width: 40%;
    }
}

// SECTION 2 - SPOTIFY

.spotify {
        .spotify__iframe {
            height: 60%;
            width: 90%;
            margin-top: 10%;
        }
}

}