.acerca__main {
    grid-area: acercamain;
    display: grid;
    background-image: url(../Imagenes/Fondo_graffitis.jpg);
    background-size: cover;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 15vh minmax(30vh, max-content) minmax(30vh, max-content) 15vh;
    grid-template-areas: 
    "intro intro intro"
    "acercatitle acercatitle acercatitle"
    "acercatext acercatext acercatext"
    "acercaempty acercaempty acercaempty";
    grid-gap: 0px 0px;
    overflow-x: hidden;
}

.intro {
    grid-area: intro;
}

.acercaTitle {
    grid-area: acercatitle;
    margin-top: 0vh;
    @include flexbox(flex, column nowrap, flex-start, center);
    .acercaTitle__img {
        width: 250%;
    }
    .acercaTitle__h3 {
        background: black;
        width: 100%;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}

.acercaText {
    grid-area: acercatext;
    display: grid;
    grid-template-columns: 1fr;
    background:rgba(0, 0, 0, 0.7);
    border-top: solid black 5px;
    border-bottom: double rgb(209, 209, 209) 10px;
    grid-template-rows: minmax(5vh, max-content) minmax(5vh, max-content) minmax(5vh, max-content) minmax(5vh, max-content);
    grid-template-areas:
    "imageone imageone imageone"
    "textone textone textone"
    "texttwo texttwo texttwo"
    "imagetwo imagetwo imagetwo";
    grid-gap: 0;
    .acercaText__img--one {
        grid-area: imageone;
        @include w-h (160px, 160px);
        border: rgb(255, 255, 255) solid 2px;
        border-radius:50%;
        margin: 5vh auto;
    }
    .acercaText__img--two {
        grid-area: imagetwo;
        width: 100%;
    }
    .acercaText__img--three {
        display:none;
    }
    .acercaText__p {
        text-align: center;
        font-size: 1rem;
    }
    .acercaText__p--one {
        grid-area: textone;
        margin: 5vh 3vw;
    }
    .acercaText__p--two {
        grid-area: texttwo;
        margin: 5vh 3vw;
        margin-bottom: 0;
    }
}

.empty {
    grid-area: acercaempty;
}

//----------------------------------- MEDIUM SIZE---------------------------------------

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .acercaTitle {
        .acercaTitle__img {
            width: 150%;
        }
    }

    .acercaText {
        .acercaText__img--two {
            width: 50%;
            margin: $center;
        }
        .acercaText__p {
            font-size: 0.8rem;
        }
        .acercaText__p--one {
            margin: 3vh 3vw;
        }
        .acercaText__p--two {
            margin: 3vh 3vw;
        }
    }
}

// ------------------------------------MEDIUM-LARGE SIZE-------------------------------------

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .acercaTitle {
        .acercaTitle__img {
            width: 150%;
        }
        .acercaTitle__h3 {
            font-size: 2rem;
        }
    }

    .acercaText {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imageone imageone"
        "textone textone"
        "texttwo texttwo"
        "imagetwo imagethree";
        .acercaText__img--one {
            @include w-h (200px, 200px);
            margin-bottom: 2vh;
        }
        .acercaText__img--two {
            width: 100%;
            
        }
        .acercaText__p--one {
            margin-bottom: 2vh;
        }
        .acercaText__img--three {
            display: block;
            grid-area: imagethree;
            width: 100%;
            position: relative;
            transform: scaleX(-1);
        }
    } 
}

// -------------------------------------------LARGE SIZE-----------------------------------------

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .acercaTitle {
        .acercaTitle__img {
            width: 150%;
        }
        .acercaTitle__h3 {
            font-size: 3rem;
            padding: 3rem;
        }
    }

    .acercaText {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imageone imageone"
        "textone textone"
        "texttwo texttwo"
        "imagetwo imagethree";
        .acercaText__img--one {
            @include w-h (300px, 300px);
            border-radius: 25px;
            margin-bottom: 2vh;
        }
        .acercaText__img--two {
            width: 100%;
            
        }
        .acercaText__p--one {
            margin-bottom: 2vh;
        }
        .acercaText__img--three {
            display: block;
            grid-area: imagethree;
            width: 100%;
            position: relative;
            transform: scaleX(-1);
        }
    }
}

// ----------------------------------------EXTRA-LARGE SIZE-----------------------------------------

@media only screen and (min-width: 1201px) and (max-width: 3000px) {
    .acerca__main {
        grid-template-rows: 30vh minmax(30vh, max-content) minmax(30vh, max-content) 15vh;
    }

    .acercaTitle {
        .acercaTitle__img {
            width: 100%;
        }
        .acercaTitle__h3 {
            font-size: 3rem;
            padding: 2rem;
        }
    }

    .acercaText {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imageone imageone"
        "textone textone"
        "texttwo texttwo"
        "imagetwo imagethree";
        .acercaText__img--one {
            @include w-h (400px, 400px);
            border-radius: 50px;
            margin-bottom: 2vh;
            
        }
        .acercaText__img--two {
            width: 60%;
            margin: $center;
            
        }
        .acercaText__p {
            font-size: 1.3rem;
            margin: 5vh 8vw;
        }
        .acercaText__p--one {
            margin-bottom: 2vh;
        }
        .acercaText__img--three {
            display: block;
            grid-area: imagethree;
            width: 60%;
            position: relative;
            transform: scaleX(-1);
            margin: $center;
        }
    }   
}

// ----------------------------------------------4K SIZE----------------------------------------------

@media only screen and (min-width: 3000px) and (max-width: 5000px) {
    .acerca__main {    
        grid-template-rows: 25vh minmax(30vh, max-content) minmax(30vh, max-content) 15vh;
    }

    .acercaTitle {
        .acercaTitle__img {
            width: 100%;
        }
        .acercaTitle__h3 {
            font-size: 5rem;
            padding: 2rem;
        }
    }
    
    .acercaText {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imageone imageone"
        "textone textone"
        "texttwo texttwo"
        "imagetwo imagethree";
        .acercaText__img--one {
            @include w-h (700px, 700px);
            border-radius: 50px;
            margin-bottom: 2vh;
            
        }
        .acercaText__img--two {
            width: 60%;
            margin: $center;
            
        }
        .acercaText__p {
            font-size: 2.5rem;
            margin: 5vh 8vw;
        }
        .acercaText__p--one {
            margin-bottom: 2vh;
        }
        .acercaText__img--three {
            display: block;
            grid-area: imagethree;
            width: 60%;
            position: relative;
            transform: scaleX(-1);
            margin: $center;
        }
    }
}

// ------------------------------MEDIUM HORIZONTAL------------------------------

@media only screen and (max-device-width : 768px) and (orientation:landscape)  {
    .acerca__main {
        grid-template-rows: 30vh minmax(30vh, max-content) minmax(30vh, max-content) 15vh;
    }
}

// ---------------------------------- MEDIUM+ HORIZONTAL-------------------------------

@media only screen and (min-device-width: 812px) and (max-device-width : 1023px) and (orientation:landscape)  {
    .acerca__main {
        grid-template-rows: 30vh minmax(30vh, max-content) minmax(30vh, max-content) 15vh;
    }
}

// ------------------------------LARGE HORIZONTAL------------------------------

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) and (orientation:landscape) {
    .acerca__main {
        grid-template-rows: 30vh minmax(30vh, max-content) minmax(30vh, max-content) 15vh;
    }
}


