// MAIN

.beats__main {
    grid-area: beatsmain;
    display: grid;
    background-image: url(../Imagenes/Fondo_graffitis.jpg);
    background-size: cover;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 15vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    grid-template-areas: 
    "intro intro intro"
    "text text text"
    "spotify spotify spotify"
    "cards cards cards"
    "audioList audioList audioList";
    grid-gap: 0px 0px;
    overflow-x: hidden;
}

// SECTION 2 - INTRO TEXT

.beatsText {
    grid-area: text;
    @include flexbox(flex, column nowrap, flex-start, center);
    @include bg(none,  url(../Imagenes/pexels-blaz-erzetic-2426085gold.jpg), no-repeat, cover, bottom-center, auto);
    .beatsText__p {
        background: $title;
        font-size: 0.8rem;
        font-weight:$f-w2;
        margin-top: 10%;
        margin-bottom: 0;
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
    .beatsText__title {
        margin: 10vh 0;
        .beatsText__title--h3 {
            margin: 0;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        }
    }
}

// SECTION 3 - SPOTIFY

.spotify {
    grid-area: spotify;
    @include w-h (100%, 60vh);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .spotify__iframe {
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        @include w-h(90%, 90%);
        border: solid white 2px;
        border-radius: 15px 0 15px 0;
    }
}

// SECTION 4 - CARDS

.cards {
    grid-area: cards;
    .cards__h3 {
        text-align: center;
        margin: $center;
        background: rgba(0, 0, 0, 0.7);
        @include m-p (5vh auto, 5%);
        width: 50%;
        font-size: 1.2rem;
        border-radius: 10px;
    }
    .cards__maincontainer {
        .cards__card {
            background: rgba(0, 0, 0, 0.8);
            padding: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            &:hover {
            cursor: pointer;
            border: solid white 3px;
            // transform: scale(1.05);
            }
            .cards__img {
                object-fit: fill;
                border-radius: 20px 20px 0 0;
            }
            .cards__h5 {
                font-size: 3rem;
                font-weight: 500;
                margin-top: 1rem;
                margin-bottom: 0;
            }
            .cards__p {
                text-align: center;
                overflow: hidden; 
                text-overflow: ellipsis; 
                display: -webkit-box; 
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin: 1rem;
                font-weight: 400;
            }
            .cards__button {
                background: rgb(100, 19, 192);
                &:hover {
                    font-size: 1.2rem;
                    border: solid white 1px;
                    background-color: rgb(140, 0, 255);
                }
            }
            .cards__modal {
                .cards__modal--content {
                    .cards__modal--header {
                        padding: 0;
                        .cards__modal--h5 {
                            font-size: 3rem;
                        }
                    }
                    .cards__modal--body {
                        .cards__modal--img {
                            object-fit: contain;
                            // height: 100%;
                            width: 100%;
                            border-radius: 10px;
                        }
                        .cards__modal--p {
                            text-align: center;
                            margin: 1rem;
                        }
                        .cards__modal--chart {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-evenly;
                            .cards__modal--chart_column {
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: center;
                                h6 {
                                    font-size: 1.2rem;
                                    text-align: center;
                                    text-decoration: underline;
                                }
                            }
                        }
                        .cards__modal--body_h6 {
                            text-align: center;
                            font-size: 1.2rem;
                            margin: 0.5rem 0;
                            margin-top: 2rem;
                        }
                        .cards__modal--body_ul {
                            margin: $center;
                            padding: 0;
                            text-align: center;
                            list-style-type: none;
                        }
                        .cards__modal--body-alert {
                            margin-top: 1rem;
                            text-align: center;
                            font-style: italic;
                            font-size: 0.7rem;
                            font-weight: 300;
                        }
                    }
                    .cards__modal--footer {
                        .cards__modal--btn_1 {
                            background-color: rgb(27, 27, 27);
                            &:hover {
                                cursor: pointer;
                                transform: scale(1.1);}
                        }
                        .cards__modal--btn_2 {
                            background-color: rgb(140, 0, 255);
                            &:hover {
                                cursor: pointer;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

// SECTION 5 - AUDIOS

.audioLists {
    grid-area: audioList;
    max-height: 100vh;
    .audioLists__h3 {
        text-align: center;
        margin: $center;
        background: rgba(0, 0, 0, 0.7);
        @include m-p (5vh auto, 5%);
        margin-bottom: 5vh;
        width: 50%;
        font-size: 1.2rem;
        border-radius: 10px;
    }
    .audioLists__ul {
        .audioLists__li {
            background: rgba(0, 0, 0, 0.8);
            border-radius: 20px;
            padding: 1rem;
            .audioLists__head {
                .audioLists__img {
                    @include w-h (10vh, 10vh);
                    border-radius: 50%;
                    border: solid white 1px;
                }
            }
            .audioLists__body {
                .audioLists__audio {
                    transform: scale(0.7);
                }
                .audioLists__p {
                    font-size: 0.7rem;
                }
            }   
        }
    }
}

// ------------------------------------MEDIUM-LARGE SIZE-------------------------------------

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .beatsText {
        .beatsText__p {
            font-size: 1.2rem;
        }
        .beatsText__title {
            .beatsText__title--h3 {
                font-size: 3rem;
            }
        }
    } 

    .audioLists {
        .audioLists__h3 {
            font-size: 1.5rem;
        }
    }
}

// -------------------------------------------LARGE SIZE-----------------------------------------

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .beatsText {
        .beatsText__p {
            font-size: 1.6rem;
        }
        .beatsText__title {
            .beatsText__title--h3 {
                font-size: 4rem;
            }
        }
    }

    .audioLists {
        .audioLists__ul {
            .audioLists__li {
                .audioLists__head {
                    .audioLists__img {
                        @include w-h (8vh, 8vh);
                    }
                }
            }
        }
    }
}

// ----------------------------------------EXTRA-LARGE SIZE-----------------------------------------

@media only screen and (min-width: 1201px) and (max-width: 3000px) {
    .beats__main {
        grid-template-rows: 30vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }

    .beatsText {
        .beatsText__p {
            margin-top: 20vh;
            font-size: 2rem;
            padding: 5rem;
        }
        .beatsText__title {
            margin: 20vh 0;
            .beatsText__title--h3 {
                font-size: 5rem;
            }
        }
    }

    .cards {
        .cards__h3 {
            font-size: 2rem;
            width: 30%;
            padding: 4rem;
        }
    }

    .spotify {
        margin-bottom: 20vh;
        .spotify__iframe {
            border: double white 6px;
        }
    }

    .audioLists {
        .audioLists__h3 {
            margin-top: 10vh;
            margin-bottom: 5vh;
            width: 20%;
            padding: 3rem;
            font-size: 1.7rem;
        }
    }
}

// ----------------------------------------------4K SIZE----------------------------------------------

@media only screen and (min-width: 3000px) and (max-width: 5000px) {
    .beats__main {    
        grid-template-rows: 25vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }

    .beatsText {
        .beatsText__p {
            margin-top: 20vh;
            font-size: 6rem;
            padding: 5rem;
        }
        .beatsText__title {
            margin: 20vh 0;
            .beatsText__title--h3 {
                font-size: 10rem;
            }
        }
    }

    .spotify {
        margin-bottom: 20vh;
        .spotify__iframe {
            border: double white 6px;
        }
    }

    .cards {
        .cards__h3 {
            font-size: 5rem;
        }
        .cards__maincontainer {
            .cards__card {
                .cards__h5 {
                    font-size: 5rem;
                }
            }
        }
    }

    .audioLists {
        .audioLists__h3 {
            margin-top: 10vh;
            margin-bottom: 5vh;
            width: 20%;
            padding: 3rem;
            font-size: 2.5rem;
        }
        .audioLists__ul {
            .audioLists__li {
                .audioLists__head {
                    .audioLists__h5 {
                        font-size: 3rem;
                    }
                }
                .audioLists__body {
                    .audioLists__audio {
                        transform: scale(1.5);
                        margin: 5vh 0;
                        position: relative;
                        bottom: 1vh;
                    }
                    .audioLists__p {
                        font-size: 1.5rem;
                    }
                }   
            }
        }
    }
}

// ------------------------------MEDIUM HORIZONTAL------------------------------

@media only screen and (max-device-width : 768px) and (orientation:landscape)  {
    .beats__main {
        grid-template-rows: 30vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }
    .beatsText {
        .beatsText__p {
            margin-top: 20vh;
            font-size: 1rem;
            padding: 1rem;
        }
        .beatsText__title {
            margin: 20vh 0;
            .beatsText__title--h3 {
                font-size: 3rem;
            }
        }
    }

    .spotify {
        margin-bottom: 20vh;
    }

    .cards {
        margin-top: 0vh;
        .cards__h3 {
            margin-bottom: 10vh;
            width: 30%;
            padding: 1rem;
            font-size: 1.5rem;
        }
    }

    .audioLists {
        .audioLists__h3 {
            margin-top: 10vh;
            margin-bottom: 5vh;
            width: 40%;
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
}

// ------------------------------LARGE HORIZONTAL------------------------------

@media only screen and (min-device-width: 769px) and (max-device-width: 1200px) and (orientation:landscape) {
    .beats__main {
        grid-template-rows: 30vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }
    .beatsText {
        .beatsText__p {
            margin-top: 20vh;
            font-size: 1rem;
            padding: 1rem;
        }
        .beatsText__title {
            margin: 20vh 0;
            .beatsText__title--h3 {
                font-size: 3rem;
            }
        }
    }

    .spotify {
        margin-bottom: 20vh;
    }

    .cards {
        margin-top: 0vh;
        .cards__h3 {
            margin-bottom: 10vh;
            width: 30%;
            padding: 1rem;
            font-size: 1.5rem;
        }
    }

    .audioLists {
        .audioLists__h3 {
            margin-top: 10vh;
            margin-bottom: 5vh;
            width: 40%;
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
}
