
// MAIN

.home__main {
    grid-area: homemain;
    display: grid;
    background-image: url(../Imagenes/Fondo_graffitis.jpg);
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh 55vh 15vh 15vh;
    grid-template-areas: 
    "intro intro intro"
    "content content content"
    "links links links"
    "empty empty empty";
    grid-gap: 0px 0px;
    overflow-x: hidden;


// 

.intro {
    grid-area: intro;
}

// SECTION 2 - HOMEMAIN 

.homeMain {
    grid-area: content;
    height: 100%;
    background: linear-gradient(0deg, orange, rgba(135,45,253,1) 100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
        .homeMain__a {
            font-size: 1.5rem;
            font-weight: 200;
        }
        .homeMain__a--one {
            @include anim(animlink1, 3s, ease-in, infinite);
        }
        .homeMain__a--two {
            @include anim(animlink2, 3s, both, infinite);
        }
        .homeMain__a--three {
            @include anim(animlink3, 3s, ease-out, infinite);
        }
}

// SECTION 3 - LINKS 

.links {
    grid-area: links;
}

.empty {
    grid-area: empty;
}

}


@media only screen and (min-width: 360px) and (max-width: 479px) {
    .home__main {
            .homeMain {
                .homeMain__a {
                    font-size: 2rem;
                    font-weight: 200;
                }
        }
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.home__main {    
    .homeMain {
            .homeMain__a {
                font-size: 2.2rem;
                font-weight: 200;
            }
            .homeMain__a--one {
                align-self: flex-start;
                margin-left: 4vw;
            }
            .homeMain__a--two {
                align-self: center;
            }
            .homeMain__a--three {
                align-self: flex-end;
                margin-right: 4vw;
            }
    }
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .home__main {    
        .homeMain {
                .homeMain__a {
                    font-size: 2.5rem;
                    font-weight: 200;
                }
                .homeMain__a--one {
                    align-self: flex-start;
                    margin-left: 5vw;
                }
                .homeMain__a--two {
                    align-self: center;
                }
                .homeMain__a--three {
                    align-self: flex-end;
                    margin-right: 5vw;
                }
        }
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .home__main {    
        .homeMain {
                .homeMain__a {
                    font-size: 4rem;
                    font-weight: 200;
                }
                .homeMain__a--one {
                    align-self: flex-start;
                    margin-left: 7vw;
                }
                .homeMain__a--two {
                    align-self: center;
                }
                .homeMain__a--three {
                    align-self: flex-end;
                    margin-right: 6vw;
                }
        }
    }
}

@media only screen and (min-width: 1201px) and (max-width: 3000px) {
    .home__main {    
        grid-template-rows: 30vh 100vh 30vh 40vh;
        .homeMain {
                .homeMain__a {
                    font-size: 5rem;
                    font-weight: 200;
                    transition: all .3s linear;
                    &:hover {
                    font-size: 6rem;}
                }
                .homeMain__a--one {
                    align-self: flex-start;
                    margin-left: 6vw;
                }
                .homeMain__a--two {
                    align-self: center;
                }
                .homeMain__a--three {
                    align-self: flex-end;
                    margin-right: 6vw;
                }
        }
    }
}
