// MAIN

.produccion__main {
    grid-area: prodmain;
    display: grid;
    background-image: url(../Imagenes/Fondo_graffitis.jpg);
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    grid-template-areas: 
    "intro intro intro"
    "head head head"
    "desc desc desc"
    "links links links"
    "prodspot prodspot prodspot"
    "videos videos videos";
    grid-gap: 0px 0px;
    overflow-x: hidden; 
}

// SECTION 1 - INTRO

.intro {
    grid-area: intro;
}

// SECTION 2 - HEADTEXT

.prodText {
    grid-area: head;
    @include bg (none, url(../Imagenes/produccion-2-lessPOSTA.jpg), no-repeat, cover, auto, auto);
    @include flexbox (flex, row nowrap, flex-start, center);
    height: 60vh;
    margin-bottom: 5vh;
    .prodText__text {
        margin-bottom: 5vh;
        .prodText__p {
            font-size: 0.7rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
            text-align: center;
            margin: 0;
            width: 50%;
            align-self: center;
        }
    }   
}

// SECTION 3 - CARROUSEL

.prodCarrusel {
    grid-area: desc;
    height: 30vh;
    padding: 10% 0;
    .photoSlider {
        .photoSlider img {
            opacity: 1;
            border: white solid 2px;
            border-radius: 25px;
            &:hover {
                opacity: 1;
                cursor: pointer;
                border-radius: 25px;
            }
        }
        .photoSlider h5 {
            font-size: 1.5rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        }
        .photoSlider p {
            font-size: 0.7rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        }    
    }
}

// SECTION 4 - LINKS

.linksProd {
    grid-area: links;
    .linksProd__h2 {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        width: 40%;
        @include m-p (10vh auto, 5%);
        font-size: 1rem;
        display: block;
        text-align: center;
    }
}

// SECTION 5 - SPOTIFY

.prodSpotify {
    grid-area: prodspot;
    height: 60vh;
    @include flexbox (flex, row nowrap, center, center);
    .prodSpotify__iframe {
        @include w-h(90%, 90%);
        border: solid white 2px;
        border-radius: 15px 0 15px 0;
    }
}

// SECTION 6 - VIDEOS

.prodVideos {
    grid-area: videos;
    @include w-h(90%, 40vh);
    display: block;
    margin: $center;
    @include flexbox (flex, row nowrap, center, center);
    .iframeYoutube {
        display: block;
        @include m-p($center, 0 !important);
        @include w-h(80vw, 30vh);
    }
}

//----------------------------------- MEDIUM SIZE---------------------------------------

    @media only screen and (min-width: 480px) and (max-width: 768px) {

        .linksProd {
            .linksProd__h2 {
                margin-top: 20vh;
            }
        }
    }

// ------------------------------------MEDIUM-LARGE SIZE-------------------------------------

    @media only screen and (min-width: 768px) and (max-width:1024px) {

        .prodText {
            .prodText__text {
                height: 80%;
                .prodText__p {
                    @include w-h(30%, 90%);
                    font-size: 1.1rem;
                    margin-left: 1%;
                }
            }
        }

        .linksProd {
            .linksProd__h2 {
                margin-top: 25vh;
                border-radius: 15px;
            }
        }

        .prodCarrusel {
            grid-area: desc;
            height: 30vh;
            padding: 10% 0;
            .photoSlider {
                .photoSlider img {
                    opacity: 1;
                    border: white solid 3px;
                    border-radius: 25px;
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                        border-radius: 25px;
                    }
                }
                .photoSlider h5 {
                    font-size: 2rem;
                    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
                }
                .photoSlider p {
                    font-size: 1rem;
                    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
                }
            }
        }    

        .prodVideos {
            margin-bottom: 10vh;
            .prodVideos__div {
                .prodVideos__inner {
                    @include w-h(90vw, 52vw);
                    position: relative;
                    .prodVideos__active {
                        width: 90vw;
                        .iframeYoutube {
                            @include w-h(90vw, 52vh);
                        }
                    }
                }
            }
            .iframeYoutube {
                @include w-h(90vw, 52vh);
            }
        }
    }

// -------------------------------------------LARGE SIZE-----------------------------------------

    @media only screen and (min-width: 1024px) and (max-width: 1200px) {

        .prodText {
            .prodText__text {
                height: 80%;
                .prodText__p {
                    @include w-h(50%, 60%);
                    font-size: 1.5rem;
                    margin-left: 3%;
                    position: relative;
                    top: 10%;
                }
            }
        }

       .prodCarrusel {
            .photoSlider {
                .photoSlider img {
                    border: white solid 4px;
                }
                .photoSlider h5 {
                    font-size: 2.5rem;
                    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
                }
                .photoSlider p {
                    font-size: 1.5rem;
                    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
                }
            }    
        }
    }
   
// ----------------------------------- EXTRA-LARGE SIZE---------------------------------------

@media only screen and (min-width: 1201px) and (max-width: 4000px) {
    .produccion__main{
        grid-template-rows: 30vh 70vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }

    .prodText {
        margin: 0;
        height: 100%;
        background-size: cover;
        background-position: bottom right;
            .prodText__text {
                width: 90%;
                .prodText__p {
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding: 3rem;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    border: white solid 2px;
                    border-radius: 25px;
                }
            }
        } 

    .prodCarrusel {
        height: 90%;
            .photoSlider {
                .photoSlider img {
                    opacity: 0.5;
                    border: white solid 4px;
                    border-radius: 25px;
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                        border-radius: 25px;
                    }
            
                }
                .photoSlider h5 {
                    font-size: 5rem;
                }
                .photoSlider p {
                    font-size:2rem;
                }
            }
        }


    .prodSpotify {
        grid-area: prodspot;
        height: 60vh;
        @include flexbox (flex, row nowrap, center, center);
        .prodSpotify__iframe {
            @include w-h(90%, 90%);
            border: double white 6px;
        }
    }

    .linksProd {
        .linksProd__h2 {
            margin-bottom: 20vh;
            margin-top: 0vh;
            font-size: 2rem;
            padding: 2rem;
            white-space: nowrap;
            border-radius: 20px;
            width: 30%;
        }
    }


    .prodVideos {
        grid-area: videos;
        @include w-h(100%, 100vh);
        display: block;
        margin: $center;
        @include flexbox (flex, row nowrap, center, center);
        margin-bottom: 20vh;
        .iframeYoutube {
            @include w-h(100%, 80vh);
            border: solid white 2px;
        }
    }
}

// ----------------------------------------------4K SIZE----------------------------------------------

@media only screen and (min-width: 3000px) and (max-width: 5000px) {

    .produccion__main {    
        grid-template-rows: 25vh 70vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }

    .prodText {
        .prodText__text {
            .prodText__p {
                font-size: 3rem;
            }
        }
    }

    .prodCarrusel {
        height: 60vh;
        padding-bottom: 0;
        .photoSlider h5 {
            font-size: 6rem;
        }
        .photoSlider p {
            font-size:3rem;
        }
    }

    .prodSpotify {
        grid-area: prodspot;
        height: 60vh;
        @include flexbox (flex, row nowrap, center, center);
        .prodSpotify__iframe {
            @include w-h(90%, 90%);
            border: double white 6px;
        }
    }
    
    .linksProd {
        .linksProd__h2 {
            margin-bottom: 5vh;
            margin-top: 5vh;
            font-size: 4rem;
        }
    }


    .prodVideos {
        grid-area: videos;
        @include w-h(90vw, 100vh);
        display: block;
        margin: $center;
        @include flexbox (flex, row nowrap, center, center);
        margin-bottom: 20vh;
        .prodVideos__div {
            .prodVideos__inner {
                width: 90vw;
                position: relative;
                right: 28vw;
                .prodVideos__active {
                    width: 90vw;
                    .iframeYoutube {
                        @include w-h(90vw, 80vh);
                        border: solid white 2px;
                    }
                }
            }
        }
    }
}

// ------------------------------MEDIUM HORIZONTAL------------------------------

@media only screen and (max-device-width : 768px) and (orientation:landscape)  {
    .produccion__main {    
        grid-template-rows: 30vh 70vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }

    .prodCarrusel {
        @include w-h(60vw, 60vh);
        padding-bottom: 0;
        margin: $center;
        margin-bottom: 30vh;
        .photoSlider h5 {
            font-size: 6rem;
        }
        .photoSlider p {
            font-size:3rem;
        }
    }

    .prodSpotify {
        grid-area: prodspot;
        height: 60vh;
        @include flexbox (flex, row nowrap, center, center);
        .prodSpotify__iframe {
            @include w-h(90%, 90%);
        }
    }
    
    .linksProd {
        .linksProd__h2 {
            margin-bottom: 5vh;
            margin-top: 5vh;
            font-size: 1rem;
        }
    }


    .prodVideos {
        grid-area: videos;
        @include w-h(90vw, 100vh);
        display: block;
        margin: $center;
        @include flexbox (flex, row nowrap, center, center);
        margin-bottom: 0vh;
        .prodVideos__div {
            .prodVideos__inner {
                @include w-h(90vw, 80vh);
                position: relative;
                .prodVideos__active {
                    @include w-h(90vw, 80vh);
                    right: 5vw;
                    .iframeYoutube {
                        @include w-h(70vw, 60vh);
                        border: solid white 2px;
                        right: 5vw;
                    }
                }
                .iframeYoutube {
                    @include w-h(70vw, 60vh);
                    border: solid white 2px;
                    right: 12vw;
                }
            }
        }
    }
}


// ------------------------------LARGE HORIZONTAL------------------------------

@media only screen and (min-device-width: 769px) and (max-device-width: 1200px) and (orientation:landscape) {
    .produccion__main {    
        grid-template-rows: 30vh 70vh minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content) minmax(30vh, max-content);
    }

    .prodText {
        .prodText__text {
            .prodText__p {
                font-size: 1.2rem;
            }
        }
    }

    .prodCarrusel {
        @include w-h(60vw, 60vh);
        padding-bottom: 0;
        margin: $center;
        margin-bottom: 10vh;
        .photoSlider h5 {
            font-size: 6rem;
        }
        .photoSlider p {
            font-size:1.5rem;
        }
    }

    .prodSpotify {
        grid-area: prodspot;
        height: 60vh;
        @include flexbox (flex, row nowrap, center, center);
        .prodSpotify__iframe {
            @include w-h(90%, 90%);
        }
    }
    
    .linksProd {
        .linksProd__h2 {
            margin-bottom: 5vh;
            margin-top: 5vh;
            font-size: 1rem;
        }
    }


    .prodVideos {
        grid-area: videos;
        @include w-h(90vw, 100vh);
        display: block;
        margin: $center;
        @include flexbox (flex, row nowrap, center, center);
        margin-bottom: 0vh;
        .prodVideos__div {
            .prodVideos__inner {
                @include w-h(90vw, 80vh);
                position: relative;
                .prodVideos__active {
                    @include w-h(90vw, 80vh);
                    right: 5vw;
                    .iframeYoutube {
                        @include w-h(70vw, 60vh);
                        border: solid white 2px;
                        right: 5vw;
                    }
                }
                .iframeYoutube {
                    @include w-h(70vw, 60vh);
                    border: solid white 2px;
                    right: 12vw;
                }
            }
        }
    }
}


