
.footer {
    grid-area: footer;
    background: $footer;
    @include flexbox (flex, column nowrap, space-around, center);
        .footer__a {
            text-align: center;
            @include anim (logoFooter, 3s, both, infinite);
            .footer__img {
                width: 30%;
            }
        }
    .footer__ul {
        @include flexbox (flex, row nowrap, space-evenly, center);
        @include m-p (0, 0);
        width: 50%;
    }
    .footer__p {
        font-size: 0.3rem;
        text-align: center;
        margin: 0;
        margin-bottom: 0;
    }
}

//----------------------------------- SMALL SIZE---------------------------------------

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .footer {
        .footer__a {
            .footer__img {
                width: 40%;
            }
        }
    }
    .footer__p {
        font-size: 0.4rem;
    }
}

//----------------------------------- MEDIUM SIZE---------------------------------------

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .footer {
        .footer__a {
            .footer__img {
                width: 50%;
            }
        }
        .footer__li {
            margin: 0 1rem;
            .footer__a {
                img {
                    width: 4vw;
                }
            }
        }
    }
}

// -------------------------------------------MEDIUM-LARGE SIZE-----------------------------------------

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        .footer__a {
            .footer__img {
                width: 60%;
            }
        }
        .footer__li {
            margin: 0 1rem;
            transition: all .1s linear;
            &:hover {
                transform:scale(1.2);
            }
            .footer__a {
                img {
                    width: 3vw;
                }
            }
        }
        .footer__p {
            font-size: 0.6rem;
            text-align: center;
            margin: 0;
            margin-bottom: 0;
        }
    }
}

// -------------------------------------------LARGE SIZE-----------------------------------------


@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .footer {
        .footer__a {
            .footer__img {
                width: 80%;
            }
        }
        .footer__li {
            margin: 0 1rem;
            transition: all .1s linear;
            &:hover {
                transform:scale(1.2);
            }
            .footer__a {
                img {
                    width: 4vw;
                }
            }
        }
        .footer__p {
            font-size: 0.8rem;
            text-align: center;
            margin: 0;
            margin-bottom: 0;
        }
    }
}

// ----------------------------------------EXTRA-LARGE SIZE-----------------------------------------

@media only screen and (min-width: 1201px) and (max-width: 3000px) {
    .footer {
        .footer__a {
            transition: all .1s linear;
            &:hover {
                animation-name: none;
                transform: scale(1.2);
            }
            .footer__img {
                width: 100%;
            }
        }
        .footer__ul {
            width: 30%;
            .footer__li {
                margin: 0rem;
                transition: all .1s linear;
                &:hover {
                    transform:scale(1.2);
                }
                .footer__a {
                    img {
                        width: 2vw;
                    }
                }
            }
        }
        .footer__p {
            font-size: 0.8rem;
            text-align: center;
            margin: 0;
            margin-bottom: 0;
        }
    }
}

// ---------------------------------------------4K SIZE----------------------------------------------

@media only screen and (min-width: 3001px) and (max-width: 5000px) {
    .footer {
        .footer__a {
            transition: all .1s linear;
            &:hover {
                animation-name: none;
                transform: scale(1.2);
            }
            .footer__img {
                width: 300px;
            }
        }
        .footer__ul {
            width: 30%;
            .footer__li {
                margin: 0rem;
                transition: all .1s linear;
                &:hover {
                    transform:scale(1.2);
                }
                .footer__a {
                    img {
                        width: 2vw;
                    }
                }
            }
        }
        .footer__p {
            font-size: 1.5rem;
            text-align: center;
            margin: 0;
            margin-bottom: 0;
        }
    }
}

